@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: url(main.jpg.png)no-repeat;
}
.content{
    position: absolute;
    align-items: center;
    text-align: center;
    padding: 12%;
    left: 30%;
}
.content h2{
    padding-bottom: 30px;
    font-family: 'poppins',sans-serif;
}
.content .mail{
    padding-bottom: 15px;
    padding-right: 130px;
    font-size: 20px;
}
.content .mail span{
    color: red;
}
.content .pass {
    padding-bottom: 15px;
    padding-right: 110px;
}
.content .pass span{
    color: red;
}
.content a{
    font-size: 11px;
    text-decoration: none;
    padding-top: 20px;
}
.content input{
    height: 35px;
    width: 200px;
    border-radius: 6px;
}
.content .btm{
    font-size: 11px;
    padding-top: 10px;
    transition: all 0.3s ease;
}
.content .submit input:hover{
    background: transparent;
    color: black;
    font-weight: bold;
}
.content .btm span{
    color: red;
}
.content .text {
    padding-bottom: 20px; 
}
.content .text input{
    border: none;
    background: transparent;
}
.content .num {
    padding-bottom: 20px;
}
.content .num input{
    border: none;
    background: transparent;
}
.content .forgot{
    padding-bottom: 10px;
}
.content .submit input {
    border-radius: 40px;
    background: black;
    color: white;
    font-size: 18px;
    border: none;
}
@media(max-width: 1300px){
    body{
        background: url(1300.png) no-repeat;
        object-fit: cover;
    }
}
@media(max-width: 1104px){
    body{
        background: url(1104.png) no-repeat;
        object-fit: cover;
    }
    .content{
        bottom: 30px;
    }
}
@media(max-width: 991px){
    body{
        background: url(991.png) no-repeat;
        object-fit: cover;
    }
}
@media(max-width: 948px){
    body{
        background: url(main947.png)no-repeat;
        object-fit: cover;
        align-items: center;
    }
    .content{
        bottom: 40px;
    }
}
@media(max-width: 680px){
    body{
        background: url(680.png) no-repeat;
        object-fit: cover;
    }
}
@media(max-width: 500px){
    body{
        background: url(500.png) no-repeat;
        object-fit: cover;
    }
    .content{
        position: absolute;
        align-items: center;
        text-align: center;
        padding: 9%;
        left: 25%;
        top: 9%;
    }
    .content h2{
        padding-bottom: 15px;
        font-family: 'poppins',sans-serif;
    }
    .content .mail{
        padding-bottom: 15px;
        padding-right: 101px;
        font-size: 15px;
    }
    .content .mail span{
        color: red;
    }
    .content .pass {
        padding-bottom: 20px;
        padding-right: 72px;
        font-size: 15px;
    }
    .content .pass span{
        color: red;
    }
    .content a{
        font-size: 8px;
        text-decoration: none;
        padding-top: 20px;
    }
    .content input{
        height: 20px;
        width: 150px;
        border-radius: 6px;
    }
    .content .btm{
        font-size: 9px;
        padding-top: 10px;
        transition: all 0.3s ease;
    }
    .content .submit input:hover{
        background: transparent;
        color: black;
        font-weight: bold;
    }
    .content .btm span{
        color: red;
    }
    .content .text {
        padding-bottom: 20px; 
    }
    .content .text input{
        border: none;
        background: transparent;
    }
    .content .num {
        padding-bottom: 5px;
    }
    .content .num input{
        border: none;
        background: transparent;
    }
    .content .forgot{
        top: 10%;
    }
    .content .submit input {
        border-radius: 40px;
        background: black;
        color: white;
        font-size: 11px;
        border: none;
    }
}
@media(max-width: 360px){
    body{
        background: url(360.png) no-repeat;
        object-fit: cover;
    }
    .content{
        padding-top: 30%;
    }
}
